/*
  Flexible Grid
  ---------------------------------------------
  Unlimited cells with magic widths and heights
*/
.grid {
	display: flex;
}

.grid-wrap {
	flex-wrap: wrap;
}

.cell {
	flex: 1;
	box-sizing: border-box;
}

/* Vertically align grid contents */
.grid-top {
	align-items: flex-start;
}

.grid-center {
	align-items: center;
}

.grid-bottom {
	align-items: flex-end;
}

/* Vertically align individual cells */
.cell-top {
	align-self: flex-start;
}

.cell-center {
	align-self: center;
}

.cell-bottom {
	align-self: flex-end;
}

/* Cell widths*/
.cell-width-5 {
	flex: 0 0 5%;
}

.cell-width-10 {
	flex: 0 0 10%;
}

.cell-width-15 {
	flex: 0 0 15%;
}

.cell-width-20 {
	flex: 0 0 20%;
}

.cell-width-25 {
	flex: 0 0 25%;
}

.cell-width-30 {
	flex: 0 0 30%;
}

.cell-width-33 {
	flex: 0 0 33.3333%;
}

.cell-width-35 {
	flex: 0 0 35%;
}

.cell-width-40 {
	flex: 0 0 40%;
}

.cell-width-45 {
	flex: 0 0 45%;
}

.cell-width-50 {
	flex: 0 0 50%;
}

.cell-width-55 {
	flex: 0 0 55%;
}

.cell-width-60 {
	flex: 0 0 60%;
}

.cell-width-65 {
	flex: 0 0 65%;
}

.cell-width-66 {
	flex: 0 0 66.6666%;
}

.cell-width-70 {
	flex: 0 0 70%;
}

.cell-width-75 {
	flex: 0 0 75%;
}

.cell-width-80 {
	flex: 0 0 80%;
}

.cell-width-85 {
	flex: 0 0 85%;
}

.cell-width-90 {
	flex: 0 0 90%;
}

.cell-width-95 {
	flex: 0 0 95%;
}

/* Horizontal offsets */
.cell-offset-5 {
	margin-left: 5%;
}

.cell-offset-10 {
	margin-left: 10%;
}

.cell-offset-15 {
	margin-left: 15%;
}

.cell-offset-20 {
	margin-left: 20%;
}

.cell-offset-25 {
	margin-left: 25%;
}

.cell-offset-30 {
	margin-left: 30%;
}

.cell-offset-33 {
	margin-left: 33.3333%;
}

.cell-offset-35 {
	margin-left: 35%;
}

.cell-offset-40 {
	margin-left: 40%;
}

.cell-offset-45 {
	margin-left: 45%;
}

.cell-offset-50 {
	margin-left: 50%;
}

.cell-offset-55 {
	margin-left: 55%;
}

.cell-offset-60 {
	margin-left: 60%;
}

.cell-offset-65 {
	margin-left: 65%;
}

.cell-offset-66 {
	margin-left: 66.6666%;
}

.cell-offset-70 {
	margin-left: 70%;
}

.cell-offset-75 {
	margin-left: 75%;
}

.cell-offset-80 {
	margin-left: 80%;
}

.cell-offset-85 {
	margin-left: 85%;
}

.cell-offset-90 {
	margin-left: 90%;
}

.cell-offset-95 {
	margin-left: 95%;
}

/* Responsive modifiers */
@media (max-width: 24em) {
	.grid-small-fit > .cell:not([class*="cell-width"]) {
		flex: 1;
	}

	.grid-small-full {
		flex-wrap: wrap;
	}

		.grid-small-full > .cell {
			flex: 0 0 100%;
			margin-left: 0;
		}

	.hidden-small {
		display: none;
	}

	.visible-small {
		display: block;
	}

	.visible-medium {
		display: none;
	}

	.visible-large {
		display: none;
	}
}

@media (min-width: 24em) and (max-width: 48em) {
	.grid-medium-fit > .cell:not([class*="cell-width"]) {
		flex: 1;
	}

	.grid-medium-full {
		flex-wrap: wrap;
	}

		.grid-medium-full > .cell {
			flex: 0 0 100%;
			margin-left: 0;
		}

	.visible-small {
		display: none;
	}

	.hidden-medium {
		display: none;
	}

	.visible-medium {
		display: block;
	}

	.visible-large {
		display: none;
	}
}

@media (min-width: 48em) {
	.grid-large-fit > .cell:not([class*="cell-width"]) {
		flex: 1;
	}

	.grid-large-full {
		flex-wrap: wrap;
	}

		.grid-large-full > .cell {
			flex: 0 0 100%;
			margin-left: 0;
		}

	.visible-small {
		display: none;
	}

	.visible-medium {
		display: none;
	}

	.hidden-large {
		display: none;
	}

	.visible-large {
		display: block;
	}
}
